/* header stlyles */

.navbar {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul li {
    padding: 40px 20px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav ul li:last-child {
    background-image: url("../images/🦆\ icon\ _leaf_.png");
    background-position: right top;
}

nav ul li:last-child a {
    color: #FFFFFF;
}

/* hero styles */
.hero {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    padding: 20px;
    font-size: 40px;
    font-weight: 700;
}

.hero p {
    padding: 10px;
    color: #111111;
}

.hero a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #1E5128;
    padding: 10px 40px;
    border-radius: 20px;
}

/* about styles */
.about {
    height: 20vh;
    display: flex;
}

.about-text {
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-weight: 500;
}

/* services style */
.services {
    padding: 8vh 0;
    display: flex;
    justify-content: space-between;
}

.service {
    flex-basis: 30%;
    border-radius: 2%;
    padding: 20px 10px;
    box-shadow: 2px 2px 10px black;
}

.service:first-child {
    color: #1E5128;
    background-color: #FFFFFF;
}

.service:nth-child(2) {
    color: #FFFFFF;
    background-color: #1E5128;
}

.service:last-child {
    color: #1E5128;
    background-color: #D8E9A8;
}




/* about-us styles */
.about-us {
    padding: 8vh 0;
    display: flex;
}

.title {
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 500;
}

.subject {
    padding: 40px;
    color: #FFFFFF;
    background-color: #1E5128;
    border-radius: 10px;
}

/* contact-us styles */
.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us h2 {
    font-weight: 700;
    color: black;
    font-size: 40px;
    padding: 20px;
}

form {
    color: black;
    font-weight: 500;
    width: 60%;
}

input {
    margin-top: 10px;
    padding: 10px;
    border: 0.5px solid #D9D9D9;
    border-radius: 5px;
}

textarea {
    margin-top: 10px;
    padding: 10px;
    border: 0.5px solid #D9D9D9;
    border-radius: 5px;
}

form div {
    display: flex;
    flex-direction: column;
}

form button {
    color: #FFFFFF;
    background-color: #1E5128;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 5px;
}

footer{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}